

body {
    /*margin-left: 320px;*/
    margin: 0 auto;
    max-width: 90%;
}

.jumbotron {
    background-color: #20315a;
    /*width:75%;*/
    height: 300px;
    color: white;
    text-align: center;
    margin-top: 50px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 80px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;

}


#section1 {
    /*width: 90%;*/
    border: 0.5px solid black;
    padding: 25px;
    margin: 25px auto;
}



#searchTitle {
    background-color: #20315a;
    color: white;
    border: 0.5px solid black;
    /*width: 90%;*/
    margin: 0 auto;
    padding-left: 20px;
    position: relative;
    /*height: 5%;*/
    /*top: 27px;
    left: 19pt;*/
    text-align: left;

}


#searchText {
    position: relative;
    bottom: 10px;
}

.btn {
    background-color: #20315a;
    color: white;
}
#response {
    /*width: 90%;*/
    border: 0.5px solid black;
    padding: 25px;
    margin: 25px auto;

}
